.th {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  color: rgba(54, 53, 53, 1);
  font-style: italic;
}

.ca {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-top: 16px;
}